{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/general/erreur.css') }}">
{% endblock %}

{% block title %}
    Erreur 404
{% endblock %}

{% block body %}

<body>
    <div class="message">
        <div class="text">            
            <h1>Page indisponible</h1>
            <p>La page que vous cherchez n'est pas disponible</p>
        </div>

        <img src="{{ asset('images/error/erreur404.svg') }}" alt="Erreur 404">
    </div>
</body>
{% endblock %}